body{
    max-width: 50%;
    margin: auto;
    color: slategrey;
}
.header{
    display: flex;
    align-items: center;
}
.face{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}
.title
{
    flex: 1;
    margin-left: 20px;
}
.name{
    color: gray;
}
.coral{
    color: peru;
}
.qualification{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 20;
   letter-spacing: 1px;
}
.hrline{
    border: 2px solid color coral;

}
.left{
    color: coral;
    min-width: 300px;
    font-size: 25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.margin{
    margin-top: 25px;
}
.head{
    font-size: 23;
    line-height: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;

}
.small
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20;
    line-height: 25px;
}